.HomeTitle {
  margin-top: 2rem;
  text-align: center;
  font-size: 5vw;
  margin-bottom: 1rem;
}

.midText{
    text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
}

.info-container {
    display: flex;
    justify-content: space-around; /* Adjust spacing between items */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Wrap items on smaller screens */
    gap: 20px; /* Optional: Adds spacing between items */
    padding-bottom: 50rem;
  }
  
  .info-item {
    flex: 1;
    text-align: center;
    padding: 10px;
    /* Optional: Add other styling like border, background, etc. */
  }
  
.HomeContent button {
    margin-top: 1rem;
    margin-bottom: 10rem;
}